
 */
*,
::before,
::after {
    box-sizing: border-box;
}

h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}


  Упрощаем работу с изображениями и видео
 */
img,
video,
iframe {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

body {

    margin: 0 ;
    padding: 0;
    line-height: 1.6em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;

    color: var(--dark);
  
}

button,
label {
    cursor: pointer;
}
svg * {
    transition-property: fill, stroke;
}


:root {
    --color-white: #fff;
    --color-light: #F5F4F0;
    --light-beige: #d7ccc0;
    --primary: #FE8A02;
    --primary-dark: #42413C;
    --dark: #2A2626;
    --dark-50: #908D8B;
    --brown: #b09a81;
    --blue: #1085c5;


    --max-content-width: 1110px;

}


h1,
h2,
h3 {
    line-height: 1.2em;
    font-family: "Neucha", cursive;
    font-weight: 400;
    z-index: 1;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.hero-light {
    background: var(--color-light);
    
}

.hero-brown {
    background: var(--brown);
    
}

.bg {
    position: relative;
    overflow: hidden;
}

.bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    
}



.hero__text p:not(:last-of-type) {
    margin-bottom: 13px; 
}


.container {
    position: relative;
    box-sizing: border-box;
    max-width: var(--max-content-width);
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    z-index: 1;

}

.hero-light {
    position: relative;
    overflow-x: hidden;

}


.header__title span {
    color: var(--primary);
    
}

.hero__content {
    display: flex;
    justify-content: space-between;

}


.hero__image {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
    z-index: -1;

}

.hero__text {
    display: flex;
    margin-top: 198px;
    gap: 30px;
}


.flex-basis {
   flex-basis: 50%;
   flex-grow: 1;
   flex-shrink: 1;
   
}

.header__btn {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin-top: 40px;
    background-color: var(--primary);
    text-decoration: none;
    color: var(--color-white);
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
    
    border: none;
}

.header__btn:hover {
    transform: scale(0.97);
    color: var(--color-white);
    background-color: #EA7600;
}

/* Видео-секция */

.video-section {
    text-align: center;
    position: relative;
    margin: 0 auto; 
    margin-bottom: -200px ; 
}

.video-section__title {
    font-weight: 400;
    line-height: 72px;
    margin-bottom: 30px;
}

.video-section__title .text-orange {
    color: var(--primary);
}

.video-section__description p {
    font-size: 16px;
    margin-bottom: 30px;
}


/* Контейнер для превью */
.video-section__player {
    margin: 0 auto;
     
    position: relative;
    z-index: 1;
    width: 919px; 
}

/* Само изображение */
.video-section__image {
    width: 919px;
    height: 517px;
    display: block;
}  

/* navigation section*/
.navigation-section {
    background-color: var(--primary-dark);
    padding-top: 100px;
}

.navigation-card__title {
    display: block;
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.2em;
    color: var(--primary);
    margin: 0;
}

.navigation-card__title span {
    display: block;
    color: var(--color-white);
}

.navigation-title__nowrap {
    white-space: nowrap;
}

.navigation-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 20px 30px;
   
}

/* Карточки */
.card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 24px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    justify-content: flex-start;
    box-sizing: border-box;
}

/* Первая карточка - заголовок */
.navigation-item .card:first-child {
    background-color: transparent;
    padding: 0;
    min-height: auto;
}

/* Остальные карточки */
.card:not(:first-child) {
    background-color: var(--color-light);
    cursor: pointer;
}

.card:not(:first-child):hover {
    background-color: var(--primary);
    
}

.card-number {
    font-size: 64px;
    font-family: "Neucha", cursive;
    line-height: 1;
    color: var(--primary-dark);
    margin: 0 0 40px 0;
    transition: color 0.3s ease;
}

.card-title {
    font-size: 34px;
    line-height: 1.2;
    font-family: "Neucha", cursive;
    color: var(--primary);
    margin: 0 0 16px 0;
    transition: color 0.3s ease;
}

.card-discription {
    color: var(--dark);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    transition: color 0.3s ease;
    flex-grow: 1;
}

/* Hover эффекты для всех карточек кроме первой */
.card:not(:first-child):hover .card-number,
.card:not(:first-child):hover .card-title,
.card:not(:first-child):hover .card-discription {
    color: var(--color-white);
}

/* Секция IKEA */


.ikea-effect__row {
    display: flex;
    flex-direction: reverse;
    gap: 30px;
    
}

.ikea-effect__title {
   color: var(--dark);
}

.ikea-effect__image img {
    max-width: 578px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    vertical-align: middle;
}

.ikea-effect__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ikea-effect__subtitle {
    font-family: "Neucha",cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--dark-50);

}

.ikea-effect__text {
    font-family: "Neucha",cursive;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0%;
    color: var(--dark);
}

.ikea-effect__label {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--color-white);
    position: relative;
    padding: 6px;
}

.ikea-effect__label::before {
    content: "";
    inset: 0;
    position: absolute;
    width: 100%;
    height: 26px;
    background-color: var(--brown);
    z-index: -1;
}

.ikea-effect__columns {
    display: flex;
    gap: 30px;
}

.ikea-effect__description {
    margin-top: 100px;
    margin-bottom: 20px;

}

/* Преждевременная оптимизация */
 .premature-optimization {
    margin-top: -47px;
 }

.premature-optimization__row {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}

.premature-optimization__image img {
    max-width: 578px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    vertical-align: middle;
}

.premature-optimization__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.premature-optimization__subtitle {
    font-family: "Neucha",cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--light-beige);   
}

.premature-optimization__title {
    color: var(--color-white);

}

.premature-optimization__text {
    font-family: "Neucha";
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0%;;
    color: var(--color-white);
}

.premature-optimization__description {
    margin-top: 100px;
    margin-bottom: 20px;
}

.premature-optimization__label {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--brown);
    position: relative;
    padding: 6px;
}

.premature-optimization__label::before {
    content: "";
    inset: 0;
    position: absolute;
    width: 100%;
    height: 26px;
    background-color: var(--color-light);
    z-index: -1;
}

.premature-optimization__columns {
    display: flex;
    gap: 30px
}

.premature-optimization__columns>p {
    color: var(--color-white);  
}

/* Искажение новизны */


.distortion-of-novelty__row {
    display: flex;
    gap: 30px;
     
}

.distortion-of-novelty__image img {
    max-width: 578px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    vertical-align: middle;
}

.distortion-of-novelty__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.distortion-of-novlty__subtitle {
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--dark-50);

}

.distortion-of-novelty__title {
    color: var(--dark);
}

.distortion-of-novelty__text {
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
   
    color: var(--dark);
}

.distortion-of-novelty__description {
    margin-top: 100px;
    margin-bottom: 20px;
}

.distortion-of-novelty__label {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    text-transform: uppercase;
    color: var(--color-white);
    position: relative;
    padding: 6px;
}

.distortion-of-novelty__label::before {
    content: "";
    inset: 0;
    position: absolute;
    width: 100%;
    height: 26px;
    background-color: var(--brown);
    z-index: -1;
}


.distortion-of-novelty__columns {
    display: flex;
    gap: 30px
}

.distortion-of-novelty__columns>p {
    color: var(--dark);
    
}

/*Гиперболическое обесценивание*/

.hyperbolic-depreciation__row {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}

.hyperbolic-depreciation__image img {
    max-width: 578px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    vertical-align: middle;
}

.hyperbolic-depreciation__info {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.hyperbolic-depreciation__subtitle {
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--light-beige);
}

.hyperbolic-depreciation__title {
    color: var(--color-white);

}

.hyperbolic-depreciation__text {
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;

    color: var(--color-white);
}


.hyperbolic-depreciation__description {
    margin-top: 100px;
    margin-bottom: 20px;
}

.hyperbolic-depreciation__label {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--brown);
    position: relative;
    padding: 6px;
}

.hyperbolic-depreciation__label::before {
    content: "";
    inset: 0;
    position: absolute;
    width: 100%;
    height: 26px;
    background-color: var(--color-white);
    z-index: -1;
}

.hyperbolic-depreciation__columns {
    display: flex;
    gap: 30px
}


.hyperbolic-depreciation__columns>p {
    color: var(--color-white);
    
}

/* Ошибка планирования */

.errors-in-planning__row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.errors-in-planning__image img {
    max-width: 578px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    vertical-align: middle;
}

.errors-in-planning__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.errors-in-planning__subtitle {
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--dark-50);
   
}

.errors-in-planning__title {
    color: var(--dark);

}

.errors-in-planning__text {
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0%;
    color: var(--dark);
}

.errors-in-planning__description {
    margin-top: 100px;
    margin-bottom: 20px;
}

.errors-in-planning__label {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--color-white);
    position: relative;
    padding: 6px;
}

.errors-in-planning__label::before {
    content: "";
    inset: 0;
    position: absolute;
    width: 100%;
    height: 26px;
    background-color: var(--brown);
    z-index: -1;
}

.errors-in-planning__columns {
    display: flex;
    gap: 30px
}

.errors-in-planning__columns>p {
    color: var(--dark);
}

.flex-basis__text {
  margin-top: 16px;
}

/*footer*/



.subscribe {
    display: flex;
    justify-content: center;
    gap: 122px;
    align-items: center;
    min-height: 190px;
    background-color: var(--primary-dark);
}

.subscribe-title {
    max-width: 393px;
    color: var(--color-white);
}

.subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subscribe__label {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 9px;
    color: var(--color-white);
}

.subscribe__input-group {
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.subscribe__input {
    width: 423px;
    border-radius: 0;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 14px;
    display: block;
}

.subscribe__button {
    width: 70px;
    height: 50px;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 0;
    flex-shrink: 0;
    background-color: var(--primary);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.subscribe__button::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../images/send.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.subscribe__button:hover {
    transform: scale(0.97);
    background-color: #EA7600;
}

.subscribe__note a,
.subscribe__note {
    font-size: 12px;
    line-height: 1.2;
    color: var(--color-white);
    margin-top: 8px;
}

.footer__credits {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 72px;
    font-size: 14px;
    text-align: center;

}

.footer__credits a {
    color: var(--blue);
}

.subscribe__input::placeholder {
    font-size: 12px;
    color: #757575;
    
}

.subscribe__input,
.subscribe__button {
    box-sizing: border-box; 
    height: 50px; 
    margin: 0;
    vertical-align: top;
    align-items: stretch;
}